{{ $dataCategories:= slice "pub-all"}}
{{ range .categories}}
  {{ $dataCategories = $dataCategories | append (printf "pub-%s" .)}}
{{end}}

<div
  class="col-12 p-2 pub-filtr-item"
  data-category='{{ delimit $dataCategories ","}}'
>
  <div class="card mt-3">
    <div class="card-header">
      <h5 class="card-title mb-0">{{ .title }}</h5>
      <div class="sub-title">
        <span><a target="_blank" href="{{.publishedIn.url}}">{{ .publishedIn.name }}</a></span>
        <span class="ms-2">{{ .publishedIn.date }}</span>
      </div>
      <div class="authors">
        {{ range $index,$author:= .authors }}
          <span class="me-2">{{ .name }}</span>
        {{ end }}
      </div>
    </div>
    <div class="card-body">
      <p>{{ .paper.summary | markdownify }}</p>
    </div>
    <div class="card-footer">
      <div class="tags">
        {{ range $index,$tag:= .tags }}
            <span class="btn badge btn-info ms-1 p-2 pub-filtr-control" data-filter="pub-{{ index $.categories $index }}">
              {{ $tag }}
            </span>
        {{ end }}
      </div>
      
      <div class="details-btn">
        {{ if .paper.pdf }}
        <a class="btn btn-outline-info text-center" href="{{ .paper.pdf }}" target="_blank" rel="noopener" role="button">PDF</a>
        {{ end }}
        {{ if .paper.bibtex }}
        <a class="btn btn-outline-info text-center" rel="noopener" role="button" id="btn-{{ .paper.bibtex.id }}">BiBTeX</a>
        <script>
          var tagText = document.getElementById('tagText')

          document.getElementById('btn-{{ .paper.bibtex.id }}').addEventListener('click', () => {
            const tagValue = "{{ .paper.bibtex.data }}";
            copyToClipboard(tagValue);
            alert("copied!!")
          })

          function copyToClipboard (tagValue) {
            if (navigator.clipboard) {
              return navigator.clipboard.writeText(tagValue).then(function () {
              })
            } else {
              tagText.select()
              document.execCommand('copy')
            }
          }

        </script>

        {{ end }}
        {{ if .paper.url }}
        <a class="btn btn-outline-info text-center" href="{{ .paper.url }}" target="_blank" rel="noopener" role="button">Detail</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
