{{ $dataCategories:= slice "pub-all"}}
{{ range .categories}}
  {{ $dataCategories = $dataCategories | append (printf "pub-%s" .)}}
{{end}}

<div
  class="col-12 p-2 pub-filtr-item"
  data-category='{{ delimit $dataCategories ","}}'
>
  <div class="card mt-3">
    <div class="card-header">
      <h5 class="card-title mb-0">{{ .title }}</h5>
      <div class="sub-title">
        <span><a target="_blank" rel="noopener" href="{{.publishedIn.url}}">{{ .publishedIn.name }}</a></span>
        <span class="ms-2">{{ .publishedIn.date }}</span>
      </div>
      <div class="authors">
        {{ range $index,$author:= .authors }}
          <span class="me-2">{{ .name }}</span>
        {{ end }}
      </div>
    </div>
    {{ with .paper.summary }}
    <div class="card-body">
      <p>{{ . | markdownify }}</p>
    </div>
    {{ end }}
    <div class="card-footer">
      <div class="tags">
        {{ range $index,$tag:= .tags }}
            <span class="btn badge btn-info ms-1 p-2 pub-filtr-control" data-filter="pub-{{ index $.categories $index }}">
              {{ $tag }}
            </span>
        {{ end }}
      </div>
      
      <div class="details-btn">
        {{ if .paper.pdf }}
        <a class="btn btn-outline-info text-center" href="{{ .paper.pdf }}" target="_blank" rel="noopener" role="button">PDF</a>
        {{ end }}
        {{ with .paper.slides }}
        <a class="btn btn-outline-info text-center" href="{{ if hasPrefix . "http" }}{{ . }}{{ else }}{{ . | relURL }}{{ end }}" target="_blank" rel="noopener" role="button">Slides</a>
        {{ end }}
        {{ with .paper.poster }}
        <a class="btn btn-outline-info text-center" href="{{ if hasPrefix . "http" }}{{ . }}{{ else }}{{ . | relURL }}{{ end }}" target="_blank" rel="noopener" role="button">Poster</a>
        {{ end }}
        {{ if .paper.url }}
        <a class="btn btn-outline-info text-center" href="{{ .paper.url }}" target="_blank" rel="noopener" role="button">Official Page</a>
        {{ end }}
        {{ if .paper.page }}
        <a class="btn btn-outline-info text-center" href="{{ .paper.page }}" target="_blank" rel="noopener" role="button">Code</a>
        {{ end }}
        {{ if .paper.bibtex }}
        <a class="btn btn-outline-info text-center" href="{{ (printf "bibtex/%s.bib" .paper.bibtex.id) | relURL }}" download rel="noopener" role="button">BibTeX</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
